{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="h2">
                            <!-- Имя автора -->
                            Автор: {{ user.get_full_name }}
                        </div>
                        <div class="h3 text-muted">
                            <!-- username автора -->
                            Никнейм: {{ user.username }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Подписчиков: {{ followers }} <br />
                                Подписан: {{ subscriptions }}
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                <!-- Количество записей -->
                                Количество записей: {{ count }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <!-- Вывод текущего поста -->
                {% include "includes/post_item.html" with post=post %}
                <!-- Здесь шаблон страницы с комментариями -->
                {% include "includes/comments.html" %}
            </div>
        </div>
    </main>
{% endif %}
{% endblock %}