{% extends "base.html" %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="h2">
                            <!-- Имя автора -->
                            Автор: {{ author.get_full_name }}
                        </div>
                        <div class="h3 text-muted">
                            <!-- username автора -->
                            Никнейм: {{ author.username }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Подписчиков: {{ followers }} <br />
                                Подписан: {{ subscriptions }}
                            </div>
                        </li>
                        <!--Блок подписки на автора-->
                        {% if flag_user %}
                        <li class="list-group-item">
                            {% if following %}
                            <a class="btn btn-lg btn-light"
                                href="{% url 'profile_unfollow' author.username %}" role="button">
                                Отписаться
                            </a>
                            {% else %}
                            <a class="btn btn-lg btn-primary"
                                href="{% url 'profile_follow' author.username %}" role="button">
                                Подписаться
                            </a>
                            {% endif %}
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                <!-- Количество записей -->
                                Количество записей: {{ count }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <!-- Вывод ленты записей -->
                {% for post in page %}
                    {% include "includes/post_item.html" with post=post %}
                {% endfor %}

                <!-- Здесь постраничная навигация паджинатора -->
                {% if page.has_other_pages %}
                    {% include "includes/paginator.html" with items=page paginator=paginator %}
                {% endif %}
            </div>
        </div>
    </main>

{% endblock %}